<h3 class = "text-center mt-3">ユーザー一覧</h3>

<div class = "row col-12" >

  <% @customers.each do |customer| %>
    <div class = "col-2" ></div>
      <div class = "col-2" >
        <div class = "column ml-2" >
          <div class = "center-block" >
            <%= image_tag customer.get_profile_image(100,100), style:"size:auto;"  %>
          </div>
          <div class = "center-block" >
            <%= link_to customer_path(customer.id) do %>
              <p>
                <%= customer.name %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>

  <div class = "col-2" ></div>

</div>