<div class = "row" >
  <div class = "ml-auto mr-auto text-center mt-3 mb-3" >
    <h2>グループ一覧</h2>
    <%= link_to "グループ作成", new_customer_group_path(@customer), class:"text-decoration-none" %>
  </div>
</div>

<div class = "row col-12" >

  <div class = "col-1" ></div>

  <% @groups.each do |group| %>

  <div class = "col-1" ></div>

  <div class = "column" >
    <div>
      <%= image_tag group.get_group_image(100,100) %>
    </div>
    <div>
      <%= link_to group.group_name, customer_group_path(@customer, group), class:"text-decoration-none" %>
    </div>
  </div>
  <% end %>
</div>