<div class = "text-center mr-xl-5 mt-3" >
  <h2>投稿一覧</h2>
</div>

<div class = "d-flex justify-content-center" >
  <div class = "row col-8" >
    <% @posts.each do |a| %>
      <div class = "d-flex flex-column" >
        <%= image_tag a.image, size: "150x150", class: "mt-5 ml-5 mr-5 mb-3" %>
        <div class = "ml-5 d-inline-block text-truncate", style = "width: 50px;" >
          <%= link_to a.post_introduction, post_path(a) %>
        </div>
        <%#= render "public/favorites/btn", post: @post %>
      </div>
    <% end %>
  </div>
</div>