<div class = "m-auto", style="height: calc(100vh - 100px - 100px);" >

  <h2 class = "text-center mt-3 mr-5" >投稿詳細</h2>
  <div class = "row col-12" >

    <div class = "col-1" ></div>
    <%= image_tag @post.image, size:"350x350", class: "mt-auto mb-auto" %>
    <div class = "col-1" ></div>
    <h5 class = "d-flex align-items-center" ><%= @post.post_introduction %></h5>
  </div>
</div>