// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.controller {
  flex: center;
  height: 50vh;
  width: 800px;
  background-image: image-url('about.png');
  background-size: 800px 600px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 50px auto 0 auto;
  padding-top: 25px;
}

.about-text-body {
  background-color: rgba(0, 0, 0, 0.5);
  width: 500px;
  color: white;
}

.about-text-title {
  color: white;
  font-family: 'game',;
  font-style: italic;
}

.italic {
  font-style: italic;
}

.fadein {
  opacity: 0;
}