<h4><%= @customer.name %>がフォローしているユーザー</h4>
<% if @customers.exists? %>
<table>
  <tr>
    <th>ユーザー名</th>
    <% @customers.each do |a| %>
        <th><%= link_to a.name, customer_path(a) %></th>
    <% end %>
    </tr>
</table>
<% else %>
<p>フォロー中のユーザーはいません</p>
<% end %>