<h4><%= @customer.name %>がフォローしているユーザー</h4>
<% if @customers.exists? %>
<table>
  <tr>
    <th valign = "top" >ユーザー名</th>
    <th>
      <% @customers.each do |a| %>
        <div class = "column" >
          <div>
            <%= link_to a.name, customer_path(a) %>
          </div>
        </div>
      <% end %>
    </th>
  </tr>
</table>
<% else %>
<p>フォロー中のユーザーはいません</p>
<% end %>