<div class = "d-flex flex-column m-auto", style="height: calc(100vh - 100px - 100px);" >
  <div class = "m-5">
    <h1 class = "mt-xl-5 align-items-center">Welcome to Game-Friend!</h1>
  </div>
  <div>
    <h3 class = "m-auto text-center">game-friendはゲーム仲間を探したり、<br />
    プレイの記録ができるサイトです！<br />
    記録する際には、他のプレイヤーに<br />
    公開するか非公開にするかお選びいただけます。
    </h3>
  </div>
</div>