<div class = "col-12" >
  <h3>ユーザー一覧</h3>
    <div class = "row" >
      <% @customers.each do |a| %>
        <div class = "col-1" ></div>
          <div class = "column" >
            <div>
              <%= image_tag a.get_profile_image(50,50) %>
            </div>
            <div>
              <%= link_to a.name, admins_customer_path(a) %>
            </div>
          </div>
      <% end %>
    </div>
</div>