<div class = "row col-12" >
  <h3>投稿一覧</h3>

  <% @posts.each do |post| %>
  <div class = "d-flex flex-column" >
        <%= image_tag post.image, width: 100, height: 100, class: "mt-5 ml-5 mr-5 mb-3" %>
        <div class = "ml-5 d-inline-block text-truncate", style = "width: 50px;" >
          <%= link_to post.post_introduction, admins_post_path(post) %>
        </div>
        <%#= render "public/favorites/btn", post: @post %>
      </div>
  <% end %>
</div>